{% extends 'home/all.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<body>
<!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <ul>
          <li><i class="icofont-envelope"></i><a href="mailto:contact@example.com">jmplibrary@gmail.com</a></li>
          <!-- <li><i class="icofont-phone"></i> +1 5589 55488 55</li>
          <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Mon-Fri 9am - 5pm</li> -->
        </ul>

      </div>
      {% if user.is_authenticated %}
      <div class="cta">
        <a href="{% url 'account:logout'%}" class="scrollto">Logout</a>
      </div>
      {% else %}

      <div class="cta">
        <a href="{% url 'account:register' %}" class="scrollto">Register</a>
      </div>

      {% endif %}
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>JMP Library</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
         <!-- <a href="index.html"><img src="{% static 'img/jmp_logo.png'%}" loading="lazy"style="
                                                          height: 400px;
                                                          "alt=""></a> -->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">F.A.Q</a></li>
          <li><a href="/">Contact</a></li>
          <li><a href="{% url 'home:discover' %}">Discover</a></li>
          {% if user.is_authenticated %}
          <li class="drop-down"><a href="">Profile</a>
            <ul>
              <li><a href="{% url 'home:libraries'%}">My Library</a></li>
              {% if not libraries%}
              <li><a href="{% url 'library:create_library'%}">Create Library</a></li>
              {% endif %}
              <li><a href="{% url 'account:logout'%}">Logout</a></li>
            </ul>
          </li>
          {% endif %}
          

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
<section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Discover Page</h2>
          <p data-aos="fade-up">Take a look at some of our libraries</p>
        </div>

        <div class="row">
          {% for library in libraries %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="member">
              <div class="member-img">
                <a href="{% url 'entities:lib' library.pk %}"><img src="{{library.library_main_image.url}}" loading="lazy" class="img-fluid" alt=""></a>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{library.library_name}}</h4>
                <span><a href="{% url 'entities:lib' library.pk %}"target="_blank">JmpLibrary/{{library.library_name}}.com</a></span>
                <span>{{library.library_type}}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </section>
    {% include 'footer.html'%}
      </body>
{% endblock %}