{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'img/jmp_logo.png'%}" style="max-height: 120px !important;padding-top: 0px;"alt="">
        <!-- <span>JMP Library</span> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/s">Features</a></li>
          <li><a class="nav-link scrollto" href="/">Discover</a></li>
          <li><a class="nav-link scrollto" href="#faq">F.A.Q</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {% if request.user.is_authenticated %}
          <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-person-square"></i></a>
                <ul>
                  <li><a href="{% url 'main:libraries'%}">My Libraries</a></li>
                  <li><a href="{% url 'library:create_library'%}">Create Library</a></li>
                  <li><a href="{% url 'account:logout'%}">Logout</a></li>

                </ul>
              </li>
          {% else %}
          <li><a class="getstarted scrollto" href="{% url 'account:login' %}">Get Started</a></li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <section class="ftco-section mt-5">
		<div class="container">
      <div class="row">
                        <!-- ============================================================== -->
                        <!-- basic table  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">My libraries</h5>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered first">
                                            <thead>
                                                <tr>
                                                    <th>Url</th>
                                                    <th>Library Name</th>
                                                    <th>Your Plan</th>
                                                    <th>Plan Validity<th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% if libraries  %}
                                              {% for library in libraries %}
                                                <tr>
                                                  <td><a href="{% url 'entities:lib' library.pk %}">https://jmplibrary.com/library/{{library.pk}}</a></td>
                                                  <td>{{library.library_name}}</td>
                                                  <td>{{library.plan}}</td>
                                                  <td>{{library.paid_untill}}</td>
                                                  <td><a href="{% url 'library:dashboard'  library.pk %}" class="btn btn-success btn-sm">Access Library</a></td>
                                                </tr>

                                                {% endfor %}
                                                {% else %}
                                                <td colspan="3">No Libraries Yet, <a href="{% url 'library:create_library'%}">Create one</a>
                                                {% endif %}
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          {% include 'footer.html' %}
                                </body>


  {% endblock %}
